@page
@model WebVeriAlma.Pages.Users.SifreDegisitrmeModel

@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}



@if (Model.errorMessage.Length > 0)
    {
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <strong>@Model.errorMessage</strong>
    <button type ='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
    }

<div class="center">
    <h3> Kullanıcıyı Düzenle</h3>
    <form method="POST">
@*
        <input type="hidden" name="id" value="@Model.userInfo.id">
        <input type="hidden" name="nameSurname" value="@Model.userInfo.nameSurname">
        <input type="hidden" name="email" value="@Model.userInfo.email">
        <input type="hidden" name="username" value="@Model.userInfo.username">*@

        <div class="txt_field">
            <input type="text" class="form-control" name="eskiSifre" value="@Model.eskiSifre" required>
            <label>Eski Şifre</label>
        </div>

        <div class="txt_field">

            <input type="text" class="form-control" name="password" value="@Model.userInfo.password" required>
            <label>Yeni Şifre</label>
        </div>

        <div class="txt_field">

            <input type="text" class="form-control" name="yeniSifreTekrar" value="@Model.yeniSifreTekrar" required>
            <label>Yeni Şifre Tekrar</label>
        </div>






        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">

                <button type="submit" class="btn btn-primary">Tamam</button>
            </div>

            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Users/Kullanicilar" role="button">Kapat</a>
            </div>
        </div>

    </form>
</div>